*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(22, 0, 28);
    display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}